/* Image style */
#scrollUp {
    bottom: 1em;
    right: 1em;
    width: 5em;    /* Width of image */
    height: 5em;   /* Height of image */
}

/*replace the content value with the
corresponding value from the list below*/
#scrollUp:before {
    content: "\e133";
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #555299;
    font-size: 4em;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}